html {
  font-size: 10px;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

body {
  margin: 0;
  box-sizing: border-box;
}

:root {
  --black: #424242;
  --black-gray: #565654;
  --default-transition :0.3s;
  --white: #fff;
}
